<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Model Test 1 Routine</title>
<style type="text/css">
	body{
		font-family: sans-serif;
	}
	table{
		border-collapse: collapse;
		width: 100%;
	}
	tr, thead{
		padding: 10px;
		text-align: center;
	}
	td, th{padding: 10px;font-size: 1.4em;}
	th{
		background-color: #4286f4;
		color: white;
	}
	#color_tr{
		background-color: #edf3ff;
	}
	tr:hover{
		background-color: #d3e2ff;
	}
	#color_tr:hover{
		background-color: #d3e2ff;
	}
</style>
</head>

<body>
	<table>
		<tbody>
			<thead>
				<th>Date</th>
				<th>Day</th>
				<th>Time</th>
				<th>Subject</th>
			<thead>
			<tr>
				<td>04.02.2018</td>
				<td>Sunday</td>
				<td>2:00 - 5:00</td>
				<td>Information & Communiation Technology</td>
			</tr>
			<tr id="color_tr">
				<td>05.02.2018</td>
				<td>Monday</td>
				<td>2:00 - 5:00</td>
				<td>English 1<sup>st</sup> Paper</td>
			</tr>
			<tr>
				<td>07.02.2018</td>
				<td>Wednesday</td>
				<td>2:00 - 5:00</td>
				<td>Islamic History & Culture 1<sup>st</sup> Paper</td>
			</tr>
			<tr id="color_tr">
				<td>08.02.2018</td>
				<td>Thusday</td>
				<td>2:00 - 5:00</td>
				<td>Physics 1<sup>st</sup> Paper / Social Work 1<sup>st</sup> Paper<br>Accounting 1<sup>st</sup> Paper</td>
			</tr>
			<tr>
				<td>09.02.2018</td>
				<td>Friday</td>
				<td>9:00 - 12:00</td>
				<td>Logical Education 1<sup>st</sup> Paper</td>
			</tr>
			<tr id="color_tr">
				<td>10.02.2018</td>
				<td>Saturday</td>
				<td>2:00 - 5:00</td>
				<td>Chemistry 1<sup>st</sup> Paper / Finance & Banking 1<sup>st</sup> Paper / Economics 1<sup>st</sup> Paper</td>
			</tr>
			<tr>
				<td>11.02.2018</td>
				<td>Sunday</td>
				<td>2:00 - 5:00</td>
				<td>Bangla 1<sup>st</sup> Paper</td>
			</tr>
			<tr id="color_tr">
				<td>12.02.2018</td>
				<td>Monday</td>
				<td>2:00 - 5:00</td>
				<td>Biology 1<sup>st</sup> Paper / Phychology 1<sup>st</sup> Paper / Statistics 1<sup>st</sup> Paper /<br>Agricultural Studies 1<sup>st</sup> Paper / Islamic Studies 1<sup>st</sup> Paper</td>
			</tr>
			<tr>
				<td>13.02.2018</td>
				<td>Tuesday</td>
				<td>2:00 - 5:00</td>
				<td>Higher Mathematics 1<sup>st</sup> Paper / Business Organization & Management 1<sup>st</sup> Paper /<br>Municipality & Governance 1<sup>st</sup> Paper</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
